<div class="article-add">
    <alert ng-show="form.error.__all__" close="form.closeAlert('__all__')" type="danger">[[form.error.__all__]]</alert>
    <accordion>
        <accordion-group is-open="true">
            <accordion-heading>
                <h4 class="panel-title">
                    <i class="glyphicon glyphicon-file"></i>
                    Добавить новую статью
                </h4>
            </accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <alert ng-show="form.error.title" type="danger" tabindex="-1">[[form.error.title]]</alert>
                        <input type="text" class="form-control" placeholder="Название" ng-model="form.data.title" focus-me="form.focus.title" />
                    </div>
                    <div class="form-group">
                        <alert ng-show="form.error.content" type="danger">[[form.error.content]]</alert>
                        <textarea class="form-control" placeholder="Содержание" rows="10" ng-model="form.data.content" focus-me="form.focus.content"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <alert ng-show="form.error.published" type="danger">[[form.error.published]]</alert>
                    <div class="article-datepicker well well-sm mb-0">
                        <datepicker show-weeks="false" ng-model="form.data.published" date-format></datepicker>
                    </div>
                </div>
            </div>
        </accordion-group>
        <accordion-group>
            <accordion-heading>
                <h4 class="panel-title">
                    <i class="glyphicon glyphicon-th-list"></i>
                    META-данные
                </h4>
            </accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Заголовок страницы" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Описание" required />
                    </div>
                    <div class="form-group mb-0">
                        <textarea class="form-control" placeholder="Ключевые слова" required></textarea>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <button class="btn btn-success btn-lg" ng-click="form.submit()">
        <i class="glyphicon glyphicon-floppy-disk"></i>Сохранить
    </button>
</div>
