<alert ng-show="form.error.__all__" close="form.closeAlert('__all__')" type="danger">[[form.error.__all__]]</alert>

<h1>[[article.title]]</h1>
[[article.content]]

<div class="row" ng-show="profile.is_logged_in">
    <div class="col-md-12 mt-20">
        <button class="btn btn-danger" ng-click="deleteArticle()">
            <i class="glyphicon glyphicon-trash"></i>Удалить
        </button>
        <a class="btn btn-warning" href ui-sref="articles.item.edit({articleId: article.id})">
            <i class="glyphicon glyphicon-edit"></i>Изменить
        </a>
    </div>
</div>
