<alert ng-show="form.error.__all__" close="form.closeAlert('__all__')" type="danger">[[form.error.__all__]]</alert>

<div class="article-detail">
    <header>
        <h1>[[article.title]]</h1>
    </header>
    <p class="meta">
        <time datetime="[[article.published]]">
            [[article.published]]
        </time>
        <span class="by">by [[article.user]]</span>
    </p>

    <div compile-template="article.code_content"></div>

    <div class="row" ng-show="profile.is_logged_in">
        <div class="col-md-12 mt-20">
            <button class="btn btn-danger" ng-click="deleteArticle()">
                <i class="glyphicon glyphicon-trash"></i>Удалить
            </button>
            <a class="btn btn-warning" href ui-sref="articles.item.edit({articleId: article.id})">
                <i class="glyphicon glyphicon-edit"></i>Изменить
            </a>
        </div>
    </div>
</div>
