{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru" ng-app="mesteno">
    <head>
        {% if debug and 0 %}
            <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "angular-loading-bar/build/loading-bar.css" %}">
            <link rel="stylesheet" href="{% static "angular-ui/build/angular-ui.css" %}">
            <link rel="stylesheet" href="{% static "highlightjs/styles/monokai.css" %}">

            <link rel="stylesheet" href="{% static "mesteno/css/style.css" %}">

            <script src="{% static "highlightjs/highlight.pack.js" %}"></script>
            <script src="{% static "ace-builds/src-noconflict/ace.js" %}"></script>

            <script src="{% static "angular/angular.js" %}"></script>
            <script src="{% static "angular-route/angular-route.js" %}"></script>
            <script src="{% static "angular-animate/angular-animate.js" %}"></script>
            <script src="{% static "angular-cookies/angular-cookies.js" %}"></script>
            <script src="{% static "angular-resource/angular-resource.js" %}"></script>
            <script src="{% static "angular-loading-bar/build/loading-bar.js" %}"></script>
            <script src="{% static "angular-ui-router/release/angular-ui-router.js" %}"></script>
            <script src="{% static "angular-django-rest-resource/angular-django-rest-resource.js" %}"></script>
            <script src="{% static "angular-ui/build/angular-ui.js" %}"></script>
            <script src="{% static "angular-bootstrap/ui-bootstrap.js" %}"></script>
            <script src="{% static "angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
            <script src="{% static "angular-sanitize/angular-sanitize.js" %}"></script>
            <script src="{% static "angular-highlightjs/angular-highlightjs.js" %}"></script>
            <script src="{% static "angular-ui-ace/ui-ace.js" %}"></script>
            <script src="{% static "angular-file-upload/angular-file-upload.js" %}"></script>
            <script src="{% static "zeroclipboard/dist/ZeroClipboard.min.js" %}"></script>
            <script src="{% static "ng-clip/dest/ng-clip.min.js" %}"></script>

            <script src="{% static "mesteno/js/app.js" %}"></script>
            <script src="{% static "mesteno/js/service.js" %}"></script>
            <script src="{% static "mesteno/js/controller.js" %}"></script>
            <script src="{% static "mesteno/js/directive.js" %}"></script>
        {% else %}
            <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "angular-loading-bar/build/loading-bar.min.css" %}">
            <link rel="stylesheet" href="{% static "angular-ui/build/angular-ui.min.css" %}">

            {% compress css %}
            <link rel="stylesheet" href="{% static "highlightjs/styles/monokai.css" %}">
            <link rel="stylesheet" href="{% static "mesteno/css/style.css" %}">
            {% endcompress %}

            <script src="{% static "highlightjs/highlight.pack.js" %}"></script>
            <script src="{% static "ace-builds/src-min-noconflict/ace.js" %}"></script>

            <script src="{% static "angular/angular.min.js" %}"></script>
            <script src="{% static "angular-route/angular-route.min.js" %}"></script>
            <script src="{% static "angular-animate/angular-animate.min.js" %}"></script>
            <script src="{% static "angular-cookies/angular-cookies.min.js" %}"></script>
            <script src="{% static "angular-resource/angular-resource.min.js" %}"></script>
            <script src="{% static "angular-loading-bar/build/loading-bar.min.js" %}"></script>
            <script src="{% static "angular-ui-router/release/angular-ui-router.min.js" %}"></script>
            <script src="{% static "angular-django-rest-resource/angular-django-rest-resource.js" %}"></script>
            <script src="{% static "angular-ui/build/angular-ui.min.js" %}"></script>
            <script src="{% static "angular-bootstrap/ui-bootstrap.min.js" %}"></script>
            <script src="{% static "angular-bootstrap/ui-bootstrap-tpls.min.js" %}"></script>
            <script src="{% static "angular-sanitize/angular-sanitize.min.js" %}"></script>
            <script src="{% static "angular-highlightjs/angular-highlightjs.min.js" %}"></script>
            <script src="{% static "angular-ui-ace/ui-ace.min.js" %}"></script>
            <script src="{% static "angular-file-upload/angular-file-upload.min.js" %}"></script>
            <script src="{% static "zeroclipboard/dist/ZeroClipboard.min.js" %}"></script>
            <script src="{% static "ng-clip/dest/ng-clip.min.js" %}"></script>

            {% compress js %}
            <script src="{% static "mesteno/js/app.js" %}"></script>
            <script src="{% static "mesteno/js/service.js" %}"></script>
            <script src="{% static "mesteno/js/controller.js" %}"></script>
            <script src="{% static "mesteno/js/directive.js" %}"></script>
            {% endcompress %}
        {% endif %}

        <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div class="ng-cloak" ng-controller="MainCtrl">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand" href ui-sref="main">Mesteno</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li ui-sref-active="active">
                                <a href ui-sref="main">Главная</a>
                            </li>
                            <li ui-sref-active="active">
                                <a href ui-sref="articles">Статьи</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li ui-sref-active="active">
                                <a href ui-sref="article-add">Добавить статью</a>
                            </li>
                            {% if user.is_admin %}
                            <li><a href="" ng-click="logout()">Выйти ([[profile.user.username]])</a></li>
                            {% endif %}
                            <li><a href="" ng-click="logout()">Выйти ([[profile.user.username]])</a></li>
                            {% else %}
                            <li><a href="" ng-click="login()">Войти</a></li>
                            {% endif %}
                            {% csrf_token %}
                        </ul>
                    </div>
                </div>
                <div class="back-pattern"></div>
            </nav>
            <div class="container" id="content">
                <div class="row">
                    <div class="col-md-12" ui-view></div>
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    <p class="navbar-text pull-left">© 2014 - Site Built By Meshcheryakov Artem</p>
                </div>
            </div>
        </div>
    </body>
</html>
