<div class="panel-heading">
    <h2 class="panel-title">Вход на сайт</h2>
</div>
<div class="panel-body">
    <form accept-charset="UTF-8" role="form" ng-submit="form.submit()">
    <fieldset>
        <div class="form-group">
            <alert ng-show="form.error.username" type="danger">[[form.error.username]]</alert>
            <input class="form-control" placeholder="Логин" ng-model="form.data.username" focus-me="form.focus.username" type="text">
        </div>
        <div class="form-group">
            <alert ng-show="form.error.password" type="danger">[[form.error.password]]</alert>
            <input class="form-control" placeholder="Пароль" ng-model="form.data.password" focus-me="form.focus.password" type="password" value="">
        </div>
        <alert ng-show="form.error.__all__" close="form.closeAlert('__all__')" type="danger">[[form.error.__all__]]</alert>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Войти">
    </fieldset>
    </form>
</div>
