<div class="article-add">
    <alert ng-show="form.error.__all__" close="form.closeAlert('__all__')" type="danger">[[form.error.__all__]]</alert>
    <accordion>
        <accordion-group is-open="true">
            <accordion-heading>
                <h4 class="panel-title">
                    <i class="glyphicon glyphicon-file"></i>
                    [[form.action]]
                </h4>
            </accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <alert ng-show="form.error.title" type="danger" tabindex="-1">[[form.error.title]]</alert>
                        <h3>Название</h3>
                        <input type="text" class="form-control" placeholder="Название" ng-model="form.data.title" focus-me="form.focus.title" />
                    </div>
                    <div class="form-group">
                        <alert ng-show="form.error.description" type="danger" tabindex="-1">[[form.error.description]]</alert>
                        <h3>Описание</h3>
                        <textarea class="form-control" placeholder="Описание" ng-model="form.data.description" focus-me="form.focus.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <alert ng-show="form.error.content" type="danger">[[form.error.content]]</alert>
                        <h3>Содержание</h3>
                        <div ui-ace="{onLoad: aceLoaded}" class="form-control editor" ng-model="form.data.content" focus-me="form.focus.content"></div>
                    </div>
                    <div class="form-group">
                        <h3>Категория</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="form.data.category" ng-options="category.id as category.name for category in categories">
                                    <option value="">-- Выберите категорию --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3>Теги</h3>
                        <tags-input ng-model="article.tags" placeholder="Теги" min-length="2" displayProperty="name">
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="row mb-20">
                <div class="col-md-3">
                    <h3>Загрузка изображений</h3>
                    <label class="file-input btn btn-success">
                        Выбрать изображение
                        <input type="file" nv-file-select uploader="uploader" accept=".jpg,.png,.jpeg,.bmp,.gif" multiple />
                    </label>
                </div>
                <div class="col-md-9">
                    <table class="table mt-10">
                        <thead>
                            <tr>
                                <th width="50%">Файл</th>
                                <th ng-show="uploader.isHTML5">Размер</th>
                                <th ng-show="uploader.isHTML5">Прогресс</th>
                                <th>Статус</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>[[ item.file.name ]]</strong>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <input ng-show="item.isSuccess" class="form-control" type="text" disabled value="[[ item.link ]]" />
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>[[ item.file.size/1024/1024|number:2 ]] MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <p>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Загрузить
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Удалить
                                        </button>
                                    </p>
                                    <p>
                                        <button type="button" class="btn btn-info btn-xs" ng-disabled="!item.isSuccess"
                                                clip-copy="item.link">
                                            Копировать ссылку
                                        </button>
                                    </p>
                                    <p>
                                        <button type="button" class="btn btn-info btn-xs" ng-disabled="!item.isSuccess" ng-click="item.pasteLink()">
                                            Вставить ссылку в текст
                                        </button>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            Общий прогресс:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Зугрузить все
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Удалить все
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <alert ng-show="form.error.published" type="danger">[[form.error.published]]</alert>
                    <h3>Дата публикации</h3>
                    <div class="article-datepicker well well-sm mb-0">
                        <datepicker show-weeks="false" ng-model="form.data.published" date-format></datepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <alert ng-show="form.error.draft" type="danger">[[form.error.draft]]</alert>
                    <h3>Черновик</h3>
                    <label class="btn btn-primary" ng-model="form.data.draft" btn-radio="true" uncheckable>Да</label>
                    <label class="btn btn-primary" ng-model="form.data.draft" btn-radio="false" uncheckable>Нет</label>
                </div>
            </div>
        </accordion-group>
        <accordion-group>
            <accordion-heading>
                <h4 class="panel-title">
                    <i class="glyphicon glyphicon-th-list"></i>
                    META-данные
                </h4>
            </accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Заголовок страницы" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Описание" />
                    </div>
                    <div class="form-group mb-0">
                        <textarea class="form-control" placeholder="Ключевые слова"></textarea>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <button class="btn btn-success" ng-click="form.submit()">
        <i class="glyphicon glyphicon-floppy-disk mr-5"></i>Сохранить
    </button>
    <button class="btn btn-success" ng-click="form.submit({edit: true})">
        <i class="glyphicon glyphicon-floppy-disk mr-5"></i>Сохранить и продолжить редактирование
    </button>
    <i class="glyphicon glyphicon-ok" ng-show="form.isSuccess()"></i>
</div>
