<div class="row">
    <div class="col-md-3">
        <div class="categories list-group mt-20">
            <span class="list-group-item heading">
                <h3>Разделы</h3>
            </span>
            <a href ui-sref="articles.list({page: 1})" ng-class="{active: categoryId == 0}" class="list-group-item" >Все</a>
            <a ng-repeat="category in categories" ng-class="{active: categoryId == category.id}" class="list-group-item"
               href ui-sref="articles.category({categoryId: category.id, page: 1})">[[category.name]]</a>
        </div>
    </div>
    <div class="col-md-9">
        <pagination total-items="articles.count" items-per-page="articles.pageSize" ng-model="page" class="pagination-sm"
                    ng-change="pageChanged()" next-text=">" previous-text="<" ng-show="articles.count > 0">
        </pagination>
        <div ng-repeat="article in articles.list" class="article-list-item">
            <div class="article-title">
                <div class="row">
                    <div class="col-md-10">
                        <h2>
                            <a href ui-sref="articles.item({articleId: article.id})" class="link">[[article.title]]</a>
                            <span class="draft" ng-show="article.draft">черновик</span>
                        </h2>
                        <div class="when-by">
                            <time datetime="[[article.published]]">
                                [[article.published]]
                            </time>
                            <span class="by">by [[article.user]]</span>
                        </div>
                        <p>
                            <div compile-template="article.description || article.code_cut"></div>
                        </p>
                        <div ng-show="article.tags.length" class="mb-10">
                            Теги: <tag ng-repeat="tag in article.tags" class="btn btn-info btn-xs">[[tag]]</tag>
                        </div>
                        <button class="btn btn-success" ui-sref="articles.item({articleId: article.id})">Читать далее</button>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="articles.deleteArticle(article.id)" ng-show="article.user == profile.user.username"
                                class="btn btn-xs btn-danger pull-right article-detail-icon">
                            <i class="glyphicon glyphicon-trash mr-2"></i>
                        </button>
                        <a href ui-sref="articles.item.edit({articleId: article.id})" ng-show="article.user == profile.user.username"
                           class="btn btn-xs btn-warning pull-right article-detail-icon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div compile&#45;template="article.code_content"></div> -->
        </div>
    </div>
</div>
